POSTGRES_DB=companies
POSTGRES_USER=some_user
POSTGRES_PASSWORD=some_password
LOCALITIES_DATABASE_URL=postgresql://some_user:some_password@localhost:5435/companies
DATABASE_URL=postgresql://some_user:some_password@localhost:5435/companies
COMPANIES_IMPORT_DIR=./data/imports
SQLITE_DB=some.db